<!DOCTYPE html>
<html>
  <head>
    <title>Covid Dining App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1><%= flash[:notice] %></h1>
  <table class="nav">
    <tr>
    <td><a href="<%= restaurants_path %>"/>Restaurants</a></td>
    <%= menu %>
    </tr>
    </table>
    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
